testruns
.*__pycache__.*
*pycache*
utils/__pycache__*
models/__pycache*
utils/__pycache__/helix_randomization_tools.cpython-39.pyc
models/__pycache__*
rosetta/test_outs/
rosetta/testing/
jupyter_testing
jpt_test.ipynb
rosetta/ROSETTA_CRASH.log
.gitignore
utils/dev_testing.ipynb
database/
test/
rosetta/refine_old.xml
rosetta/refine_oold.xml
ROSETTA_CRASH.log
models/model_term_small.pth
models/model_term_v3.pth
refinement_figures.ipynb
Pearson_R.png
model_evaluation.ipynb
.gitignore
model_evaluation_figures.ipynb
models/__pycache__/riff_diff_models.cpython-39.pyc
